<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="productsLoaded" value=""/>
    <add key="categoriesLoaded" value=""/>
    <add key="specificationLoaded" value=""/>
    <add key="infoEmail" value="" />
    <add key="infoEmailPassword" value=""/>
    <add key="orderEmail" value=""/>
    <add key="orderEmailPassword" value=""/>
    <add key="companyName" value="Etno keramika doo"/>
    <add key="webShopUrl" value="https://www.etnokeramika.com"/>
    <add key="webShopLoginUrl" value="https://www.etnokeramika.com/login"/>
    <add key="smtp" value="mail.etnokeramika.com"/>
    <add key="smtpPort" value=""/>
    <add key="smtpSsl" value=""/>
    <add key="logoUrl" value="https://www.etnokeramika.com/images/logo.png"/>
    <add key="errorEmail" value=""/>
    <add key="errorEmailPassword" value=""/>
    <add key="errorSmtp" value=""/>
    <add key="errorSmtpPort" value=""/>
    <add key="errorSmtpSsl" value=""/>
    <add key="mainWidth" value=""/>
    <add key="mainHeight" value=""/>
    <add key="mainName" value=""/>
    <add key="listWidth" value=""/>
    <add key="listHeight" value=""/>
    <add key="listName" value=""/>
    <add key="thumbWidth" value=""/>
    <add key="thumbHeight" value=""/>
    <add key="thumbName" value=""/>
    <add key="showIfNotInStock" value=""/>
    <add key="webShopAdminUrl" value=""/>
    <add key="productDescription" value=""/>
    <add key="updateProductsFromExternalApplication" value=""/>
    <add key="exportProducts" value=""/>
    <add key="fillZeroCode" value=""/>
    <add key="fillZeroBarcode" value=""/>
    <add key="fullProductUrl" value=""/>
    <add key="productInMultipleCategories" value=""/>
    <add key="includeSubcategoriesInProductList" value=""/>
    <add key="userDiscountVisible" value=""/>
    <add key="deliveryCost" value=""/>
    <add key="freeDeliveryTotalValue" value=""/>
    <add key="orderDiscountVisible" value=""/>
    <add key="userDiscountOnlyOnProductNotOnPromotion" value=""/>
    <add key="allowProductPriceChange" value=""/>
    <add key="roundPromotionPrice" value=""/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=sql5023.smarterasp.net;Database=DB_A0BDD4_etnokeramika20;User ID=DB_A0BDD4_etnokeramika20_admin;Password=DjD3jc38o" name="eshopConnectionString" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Forms">
      
    </authentication>
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <add name="CustomMembershipProvider" type="eshopBL.CustomMembershipProvider" connectionString="eshopConnectionString" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" PasswordFormat="Hashed"/>
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <add name="CustomRoleProvider" type="eshopBL.CustomRoleProvider" connectionString="eshopConnectionString"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxtoolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
    <globalization uiCulture="sr" culture="sr-Latn-CS" fileEncoding="utf-8"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <handlers>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </handlers>
    <httpErrors errorMode="Detailed"></httpErrors>
    <asp scriptErrorSentToBrowser="true"></asp>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>