.ws-btn{
    border:none;
}

.btn-cart{
    background-color:@brand-primary;
    color:#eee;
    width:100%;
    text-transform:uppercase;
    padding:5px 0;

    .fa{
        font-size:1.2em;
    }
}

.btn-cart:hover{
    background-color:lighten(@brand-primary, 10%);
}

.btn-details{
    background-color:#eee;
    color:@default-gray;
    width:100%;
    text-align:center;
    text-transform:uppercase;
    padding:2px 0;
    display:inline-block;
}

.btn-compare{
    position:absolute;
    top:2px;
    left:0;
    color:@default-gray;    
    text-align:center;
    text-transform:uppercase;
    background-color:transparent;
    border:none;
}

.btn-wishlist{
    position:absolute;
    top:2px;
    right:0;
    color:@default-gray;
    text-align:center;
    text-transform:uppercase;
    background-color:transparent;
    border:none;
}

.product-fp .btn-cart{    
    display:inline-block;
    font-size:1.1em;
}