.header{
    .logo{
        a.top {
            font-size:2.4em;
            background:url('../images/logo_bg.gif') repeat-x bottom;
            font-family: 'Lobster', Arial;
        }

        p{
            margin-top:-5px;
            a.bottom {
                color:darken(@brand-primary, 30%);
                font-size:0.85em; 
            }
        }

        a:hover{
            color:@brand-primary;
        }
    }

    .search-box{
        
    }

    .cart-fp-box{
        .cart-fp{
            width:100%;
            background-color:lighten(@brand-primary, 20%);
            height:34px;
        }

        .cart-fp:hover{
            background-color:@brand-primary;
        }
    }

    .slogan-box{
        font-family: 'Lobster', Arial;
        color:#eee;
    }
}