.master-menu-box{
    background-color:@default-gray;
    min-height:40px;
    border-bottom:3px solid @brand-primary;

    .master-menu.navbar-default{
        background-color:transparent;
        border:none;
    }

    .master-menu.navbar{
        min-height:0;
        margin:0;
    }

    .master-menu .nav > li > a{
        padding:10px 5px 0 5px;
        text-transform:uppercase;
        color:#e8e8e8;
        font-weight:bold;
    }

    

    .navbar-toggle{
        z-index:2;
    }
    
}

@media only screen and (max-width:767px){
    .navbar-collapse {
        margin-left: 50%;
        text-align: right;
    }
}