.product{
    padding-top:1em;

    h1{
        font-size:2em;                
    }

    h2{
        font-size:1.2em;
        color:lighten(@text-color, 10%);        
        margin-bottom:1em;
    }

    img.main-image{
        margin:auto;
    }

    .web-price{
        font-size:1.5em;
        color:@brand-primary;
        font-weight:bold;

        .web-price-label{
            color:lighten(@brand-primary, 20%);
            font-size:0.7em;
        }
    }

    .price-div{
        min-height:20px;
    }

    .saving-div{
        min-height:20px;
    }

    .img-zoom{
        position:absolute;
        top:0;
        left:0;
        width:500px;
        height:315px;
        background-color:#fff;
        display:none;
        border:1px solid @default-gray;
        z-index:999;
    }
}

.products{
    .category-description{
        margin-bottom:1em;
        display:block;
        text-align:justify;
        font-style:italic;
    }
}