.retail{
    margin:0.5em;
    padding:0.5em;
    background-color:@light-gray;

    .retail-name{
        font-size:1.1em;
        font-weight:bold;
    }

    .retail-address{
        height:40px;
    }

    .retil-phone{
        height:20px;
    }
}
