@import 'boostrap/bootstrap.less';
@import 'topMenu.less';
@import 'common.less';
@import 'header.less';
@import 'master-menu-box.less';
@import 'main-content.less';
@import 'footer.less';
@import 'productFp.less';
@import 'buttons.less';
@import 'productSlider.less';

@import (less) 'css/mainMenuVerticalBase.css';
@import (less) 'css/font-awesome.css';

@brand-primary: #cc4422;
@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;
@input-border-focus: #cc4422;
@text-color:#777;
@default-gray: #333;
@secondary-gray: #bbb;
@light-gray: #f4f4f4;
@icon-transition-time:0.5s;

body{
    font-family: 'Roboto', Arial;
    background:url('../images/body_bg.jpg') no-repeat top fixed;

    a:hover {
        text-decoration:none;
    }

    ul{
        list-style-type:none;
    }

    .tooltip{
        .tooltip-inner{
            background-color:lighten(@brand-primary, 10%);
        }

        .tooltip-arrow{
            border-bottom-color:lighten(@brand-primary, 10%) !important;
        }
    }
}